{% extends 'base.html' %}


{% block title %}Persons list{% endblock %}

{% block content %}

<h2 align='center'>This is a DEMO version of the MovieWebSite. <br> The images are saved in the database, 
    but due to a reboot of the Heroku server, they disappear after a while.
</h2>

<form action="" method="GET">
    <h3 align="center">
        {{ form }}
    </h3>
</form>

<div class="flex_center">
    <table style="border: none">
        <th>Photo</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th style="border: none; background: none"></th>

        <th>Photo</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th style="border: none; background: none"></th>

        <th>Photo</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th style="border: none; background: none"></th>

        <th>Photo</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th style="border: none; background: none"></th>
        {% for person in stars %}
            {% if forloop.counter0|divisibleby:4 %}
                <tr>
            {% endif %}
                <td>{% if person.image %}
                        <div class="star_photo"><img src="{{ person.image.url }}"></div>
                    {% endif %}</td>
                <td><a href="{% url 'person_details' person.pk %}">
                    {{ person.first_name }} {{ person.last_name }}</a>
                </td>
                <td align="center"><a href="{% url 'edit_person' person.pk %}"><button>_</button></a></td>
                <td align="center"><a href="{% url 'del_person' person.pk %}"><button>_</button></a></td>
                <td style="border: none"></td>
            {% if forloop.counter|divisibleby:4 %}
                </tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}
